#tincan-img {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    margin: 20px auto 0px auto;
}

.featured-api {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 0px 10px;
}

.blacklist li {
    color: #333;
}