$def with()
<div id="content-header">
  <div class="container clearfix">
    <div class="region region-content-header">
      <div id="block-block-2" class="block block-block">

	<h2 class="block-title">We Will RHoKu</h2>
	<p>Coming soon, we'll add your RHoK API</p>
	<div class="content">
	  <ul>
	    <li>
	      <a href="/key" id="attend-or-host">Request API Key</a>
	    </li>
	  </ul>
	  <!--<p><a href="/about" class="learn-more">Learn More</a></p>
		    <li><a href="/problems" id="define-problem">Define a Problem</a> or <a href="/solutions" id="work-on-solution">Work on a Solution</a></li> -->
        </ul>     
      </div>
      <h2 class="block-title">Featured APIs</h2>
      <p><strong><a class="btn alert" href="/api/v1/tincan/">tincan</a></strong></p>

      <div class="featured-api">
	<p style="font-size: 13px;">tincan is an api which transforms
	  your unsmart smart phone into a smart phone. Use
	  this <a href="">call</a> or <a href="">text (sms)</a> apis to
	  call our service:
	</p>
	
	<ul class="blacklist">
	  <li><strong>map voice directions</strong> (#number coming soon) [tropo + google]</li>
	  <li><strong>voice translation</strong> IP - call a number with a message in one language, send the message to a phone in another language [tropo + google]</li>
	  <li><a href="mailto:michael.karpeles@gmail.com">Suggest a service</a></li>
	</ul>
      </div>
    </div>

    <div id="block-views-updates-block" class="block block-views">

      
      <div class="content">
	<div class="view view-updates view-id-updates view-display-id-block view-dom-id-1">

	  <h2 style="margin-top: 22px;">Introducing RHoKu</h2>
	  <div class="view-header" style="width: 475px;">
	    <p><strong>RESTful Hax['Kindness'].</strong> <underline>RESTful Hax of Kindness</underline> is a platform for making RHoK applications universally accessible through a single web interface</p>

	    <div id="tincan-img">
	      <p style="text-align: center;">
		(tincan, the first &micro;rhok app)
	      </p>
	      <img src="http://2.bp.blogspot.com/_Wks9qTuSzW0/TQB4DSQNkFI/AAAAAAAABSk/ilnGaTS-9JI/s640/dumb+phone.jpg" alt="tincan picture"/>
	    </div>
	  </div>
	</div>






